.board {
    width: 500px;
    padding: 20px;
    border: 1px solid #BDC3C7;
    border-radius: 0.3em;
    box-sizing: border-box;
}
.board .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.board .title-box .title {
    font-size: 1.4em;
    font-weight: 700;
    color: #000;
}
.board .desc {
    font-weight: 700;
    color: #BDC3C7;
}
.board .bookmarks {
    margin: 20px 0;
}
.board .bookmark {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}
.board .bookmark .favicon {
    width: 20px;
    height: 20px;
}
.board .bookmark .title {
    font-weight: 700;
    color: #5F6368;
    margin: 0 20px;
    flex: 1;
    transition: 0.3s;
}
.board .bookmark:hover .title {
    color: #000;
}
.board .bookmark:hover .edit-button {
    stroke: #838b91;
}

.board .edit-button {
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}